[submodule "ironsight-sql-db"]
	path = ironsight-sql-db
	url = ../ironsight-sql-db.git
	branch = main
[submodule "ironsight-api-handler"]
	path = ironsight-api-handler
	url = ../ironsight-api-handler.git
	branch = main
[submodule "ironsight-dashboard"]
	path = ironsight-dashboard
	url = ../ironsight-dashboard.git
	branch = main
