[submodule "ironsight-sql-db"]
	path = ironsight-sql-db
	url = git@gitlab.istar.dev:ironsight/ironsight-sql-db.git
[submodule "ironsight-api-handler"]
	path = ironsight-api-handler
	url = git@gitlab.istar.dev:ironsight/ironsight-api-handler.git
[submodule "ironsight"]
	path = ironsight
	url = git@gitlab.istar.dev:ironsight/ironsight.git
